.toggle {
  margin:14px 0 14px 10px;
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  border-radius: 25px;
  pointer-events: none;
}
.img {
  width: 20px;
  height: 20px;
}

.label {
  font-family: roboto;
  display: block;
  font-size: 24px;
  font-weight: 400;
  padding: 16px 16px 16px 60px;
}

.delete {
  position: absolute;
  top: 9px;
  right: 10px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  transition: color 0.2s ease-out;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.delete:hover {
  color: #da9090;
}


